* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side-chat{
  width: 300px;
  color: white;
  float: left;
}

.side-header{
  color: #ffffff;
 
  &__box{
    height: 100px;
    width: 300px;
    font-weight: bold;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: #253141;
    align-items: center;
  }
    &__box__icon{
     display: flex;
    }  
 
    &__box__gear{
     padding-left: 5px;
    }
 
    a{
      color: #ffffff;
    }
}

.groups{
 height: calc(100vh - 100px);
 background-color: #2f3e51;
 padding:  20px 20px 0px; 
 overflow: scroll;

 
   .group{
    padding-bottom: 40px;
     a{
       color: #ffffff;
       text-decoration: none;
      }
      &__name{
       font-size: 15px;
      }
      &__message{
       font-size: 11px;
       margin-top: 5px;
      } 
    } 
}


.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
}

.main-header{
  height: 100px;
  background-color: #ffffff;
  border-bottom: solid 1px #eee;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
 
  &__test{
   color: #333333;
   font-size: 20px;
   padding-top: 35px;
    
    p {
    color: #999999;
    font-size: 12px;
    margin-top: 15px;
    }
  }
 
  &__edit{
   height: 40px;
   line-height: 40px;
   color: #38aef0;
   margin-top: 30px;
   padding: 0 20px;
   border: solid 1px #38aef0;
   position: absolute;
   right: 40px;
 
 .btn{
   color: #38aef0;
  text-decoration: none;
   }
  }
}

.main-contents{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 35px 0 0 40px;
  overflow: scroll;
 
  .message{
    padding-bottom: 46px;
  }

  .upper-message{
   display: flex;
   margin-bottom: 12px;

    &__user-name{
     color: #434a54;
     font-size: 16px;
     font-weight: bold;
    }
 
    &__date{
     color: #999999;
     font-size: 12px; 
     margin-left: 10px;
    }
  }
  
  .lower-message__content{
   color: #434A54;
   font-size: 14px;
  }
}

.form{
  background-color: #d2d2d2;
  padding: 20px 40px;

 form{
   display: flex;
   .massage-box{
     display: flex;
     width: 100%;
     &__text{
       height: 50px;
       width: 100%;
       color: #434a54;
       border-style: none;
       padding: 0 40px 0 10px;
     }
     &__mask{
       position: relative;
       &__image{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;
       }
        .massage-box__mask__file{
        display: none;
        }
     }
   }
 }

 .submit-btn{
   width: 100px;
   height: 50px;
   padding: 0 30px;
   margin-left: 15px;
   background-color: #38aef0;
   color: white;
   cursor: pointer;
 }

}


